<header class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8 gap-6">
    <div>
        <h1 class="text-3xl font-bold mb-1">Rui Peixoto</h1>
        <p class="text-m opacity-80 max-w-lg">
            Mathematician looking for interesting problems.
        </p>
    </div>
    <div class="flex flex-col items-end">
        <div class="flex items-center mb-2">
            <i class="fas fa-envelope mr-2 text-[var(--primary)]"></i>
            <span class="text-sm"><a href="mailto:john.doe@example.com">rmp@ruimp.com</a></span>
        </div>
        <div class="flex items-center mb-2">
            <i class="fas fa-phone mr-2 text-[var(--primary)]"></i>
            <span class="text-sm">(+351) 915 374 745</span>
        </div>
        <div class="flex items-center mb-2">
            <i class="fas fa-map-marker-alt mr-2 text-[var(--primary)]"></i>
            <span class="text-sm">Lisbon, Portugal</span>
        </div>
        <div class="flex items-center">
            <i class="fab fa-linkedin mr-2 text-[var(--primary)]"></i>
            <span class="text-sm"><a href="https://linkedin.com/in/ruimpxt">linkedin.com/in/ruimpxt</a></span>
        </div>
    </div>
</header>
