<!-- adjust width if you want to add increase skills percentage -->
<section class="resume-section bg-[var(--card)] p-6 rounded-lg shadow-sm">
    <h2 class="text-xl font-bold mb-4 border-b pb-2 border-[var(--primary)]">Skills</h2>

    <div class="mb-4">
        <h3 class="text-sm mb-2">Go</h3>
        <h3 class="text-sm mb-2">Rust</h3>
        <h3 class="text-sm mb-2">Typescript</h3>
        <h3 class="text-sm mb-2">Python</h3>
        <h3 class="text-sm mb-2">Julia</h3>
        <h3 class="text-sm mb-2">Lua</h3>
        <h3 class="text-sm mb-2">SQL</h3>
        <h3 class="text-sm mb-2">Git</h3>
        <h3 class="text-sm mb-2">Linux</h3>
        <h3 class="text-sm mb-2">Typst</h3>
        <h3 class="text-sm mb-2">LaTeX</h3>
    </div>
</section>
